html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  box-sizing: border-box; }

li {
  list-style-type: none; }

p {
  color: white;
  font-family: "Poppins,sans-serif"; }

.landing-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/landing-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block; }

.bat-hero-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  margin-bottom: 20px;
  position: absolute;
  top: 100%; }

.hero-batman {
  width: 100%;
  height: 50%; }

.hero-batman img {
  width: 100%;
  height: 60%; }

.bat-description-wrap {
  width: 100%;
  display: block;
  background-color: #242424; }

.alt-description-batman {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }
  .alt-description-batman p {
    width: 61%;
    line-height: 2;
    padding-left: 41px;
    padding-right: 41px; }

.alt-pic-batman {
  width: 60%;
  margin-top: 20px; }
  .alt-pic-batman img {
    width: 100%; }

.joker-hero-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
  position: absolute;
  top: -186%; }
  .joker-hero-wrap .title-joker {
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
    font-color: #0d6c0d;
    text-align: center; }
    .joker-hero-wrap .title-joker p {
      color: #0d6c0d; }
  .joker-hero-wrap .hero-joker {
    width: 100%;
    height: 50%; }
    .joker-hero-wrap .hero-joker img {
      width: 100%;
      height: 60%; }

.joker-alt-description-wrap {
  width: 100%;
  display: flex;
  display: block;
  background-color: #550a55; }
  .joker-alt-description-wrap p {
    margin: 0 auto;
    width: 86%;
    line-height: 2;
    margin-top: 100px;
    color: #0d6c0d; }

nav {
  display: flex;
  justify-content: center;
  padding-top: 50px; }
  nav form {
    display: flex;
    justify-content: space-around; }

.hidden {
  display: none; }

.visible {
  display: block; }

.bat-dart {
  position: absolute;
  width: 21%;
  top: 72%;
  right: 21px;
  transition: all .5s;
  z-index: 10; }

.bat-dart:hover {
  transform: rotate(1turn) scale(1.5); }

.alt-pic-joker {
  display: flex;
  flex-direction: row-reverse; }
  .alt-pic-joker img {
    margin-top: 20px; }

.bat-dart img {
  width: 80%; }

.joker-logo {
  width: 20%;
  position: absolute;
  top: 72%;
  left: 21px;
  transition: all 2s;
  z-index: 10; }

.joker-logo:hover {
  transform: scale(1.5); }

.joker-logo img {
  width: 100%; }

.title-batman {
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center; }

@media screen and (min-width: 400px) {
  .landing-hero {
    position: absolute;
    width: 100%;
    height: 50%;
    background-size: contain; }
  .bat-dart {
    top: 24%;
    right: 9px; }
  .joker-logo {
    top: 24%;
    left: 5px; }
  .alt-pic-batman {
    position: absolute;
    top: -3%;
    width: 100%; }
  .bat-description-wrap {
    position: absolute;
    top: 91%; }
  .bat-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 320px;
    line-height: 2; }
  .joker-hero-wrap .hero-joker {
    width: 63%;
    height: 50%; }
    .joker-hero-wrap .hero-joker img {
      width: 100%; }
  .joker-hero-wrap .joker-text {
    line-height: 2; }
  .joker-hero-wrap .title-joker {
    display: flex;
    justify-content: center; } }

@media screen and (min-width: 670px) {
  .landing-hero {
    width: 100%;
    height: 100%;
    background-size: cover; }
  .bat-dart {
    top: 38%; }
  .joker-logo {
    top: 38%; }
  .bat-text {
    top: 946px; }
  .joker-hero-wrap .hero-joker {
    width: 100%; }
  .joker-hero-wrap .alt-pic-joker img {
    width: 100%;
    height: 100%; } }

/*# sourceMappingURL=main.css.map */
