
*{
	box-sizing:border-box;
}

@import 'variables';

a{
	list-style-type: none;
	text-decoration: none;
}

nav{
	width: 100%;
	height: 90px;
	background-color: #313639;
	display: flex;
	justify-content: flex-end;



	a{
		color: white;
	    font-family: sans-serif;
    	font-size: 1.5em;
	}

	.inner-nav{
		width: 50%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.logo{
		position: absolute;
		left: 5%;
	}
}

.hero{
	width: 100%;
	height: 100%;
	display: flex;

	img{
		height: 100%;
		width: 100%;
	}

	.right-hero-wrap{
		width: 50%;
	}

	.hero-right{
    position: relative;
    width: 100%;
    height: 72%;
		
		
	}

	.hero-right-2{
	position: relative;
    bottom: 39%;
    height: 67%;

	}
}

.specs{
	width: 100%;
	height: 100%;
	display: flex;


	img{
		width: 47%;
		height: 100%;
	}
}

.two-guys{
	width: 100%;
	height: 100%;

	img{
		width: 100%;
	}
}

.back-pic{
	width: 100%;
	height: 870px;
	background-color: #1DA8D8;
	display: flex;
	justify-content: center;
	position: absolute;
    top: 395%;
    left: -100%;

	.back-pic-wrap{
		width: 100%;
		position: absolute;
		top: 372%;


		img{
			width: 100%;

		}
	}

	

	
}


	

.fixed-button{
	position: fixed;
	width: 130px;
	height: 50px;
	border-radius: 80px;
	top: 96%;
	right: 10%;
	background-color: #65AE45;
	    text-align: center;
    padding-top: 1.5%;
    font-size: 18px;
    border-radius: 80px;
    top: 92%;
    z-index: 1000;

}

.pencil-background{
	width: 100%;
	height: 100%;
	
	img{
		width: 100%;
		height: 100%;
	}

	.pencil-cutout{
		width: 2%;
   		position: absolute;
   		top: 152%;
   		left: 3%;
   		transform-origin: 2px left 10px;
}
	}

footer{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 140px;
	background-color: #6D6E70;
	position: absolute;
    top: 476%;



	div{
		margin-right: 15px;
	}

	.social-icons{
	display:flex;
	align-items: flex-end;
	}


}

@media screen and (max-width: 400px){
	nav{

		.logo{
			width: 40%;
			padding-top: 4%;

			img{
				width: 100%;
			}
		}


		.inner-nav{
			a{
				font-size: 10px;
			}
		}
	}


	.hero{
		flex-direction: column;


		.right-hero-wrap{
		width: 100%;
		height: 500px;
	}


	}

	.specs{

		width: 100%;
	    display: flex;
	    flex-direction: column;
	    

		.pencil-cutout{
			top: 180%

		}

		img{
			width: 100%;
		}
	}


	.back-pic{
		width: 100%;
	}



}


@media screen and (max-width: 768px){

	nav{
		.inner-nav{
			width: 58%;
			margin-right: 3%;
		}

		.logo{
			width: 32%;

			img{
				width: 69%;
   			padding-top: 6%;
			}
			
			}
		}
	
}







