* {
  box-sizing: border-box; }

body {
  background: #555; }

.name{
  display: flex;
  justify-content: center;
  font-size: 3em;
  margin-top: 5%;
  margin-bottom: 5%;
}

.gallery {
  text-align: center; }

.gallery-item {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 400px;
  background: white;
  overflow: hidden; }

.gallery-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 3s;
  z-index: 1; }

.gallery-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%, -50%); 
}

#pic-1:hover img {
  transform: translateX(110%);
   }

#pic-2:hover img {
  transform: rotate(720deg);
   }

#pic-3:hover img {
  transform: scale(2); 
}

#pic-4:hover img {
  transform: skew(50deg, 40deg); 
}

#pic-5:hover img {
	transform: translateX(200%) rotate(60deg) scale(2);
	}

#pic-6:hover img {
	transform: translateY(-100%) rotate(360deg) skew(50deg, 40deg);

	}

#pic-7:hover img {
  transform: rotate(45deg) skew(35deg, 72deg) translateX(-50%) translateY(-100%);
	}

#pic-8:hover img {
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    opacity: .6;

	}

/*http://hasinhayder.github.io/ImageCaptionHoverAnimation/*/















