
$primary-color: #484f59;
$text-color: #dbeaff;
$accent-color: #ed0072;

body{
	color: $text-color;
	background: $primary-color;
}

* {
	box-sizing: border-box;
}

.menu-button{
	position: fixed;
	top: -140px;
	left: -140px;
	width: 400px;
	height: 400px;
	border-radius: 400px;
	padding: 160px;
	background-color: $accent-color;
	background-clip: content-box;
	z-index: 1000;

	transition: .3s;
	transition-timing-function: cubic-bezier(.45,.11,.31,1.93);

	&:hover{
		width: 400px;
		height: 400px;
		padding: 150px;
		// top: 5px;
		// left: 5px;

	}
}

header {
	width: 100;
	height: 300px;
	position: relative;
	background-image: url(../img/nature.jpg);
	background-position-y: 50%;
	background-attachment: fixed;

	h1{
		font-size: 3rem;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

main {
background: $primary-color;

}

.article-section{
	width: 95%;
	max-width: 640px;
	margin: 0 auto;
	padding: 20px;

	p{
		margin: 20px;
	}
}

nav{
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 100%;
	background: rgba(225,225,225,0.7);
	z-index: 500;
	overflow: hidden;

	transition: 0.4s;
	transition-delay: .4s;

	&.open{
		bottom: 0;

			div{
				opacity: 1;
				transform: translateY(0);
				transition-delay: 0.4s;

				&:nth-child(2){
					transition-delay: .5s;
				}

				&:nth-child(3){
					transition-delay: .6s;
				}
			}
	}

	div{
		width: 98%;
		max-width: 640px;
		padding: 20px;
		background: $accent-color;
		margin: 10px auto;
		text-align: center;

		opacity: 0;
		transform: translateY(20px);
		transition-duration: 0.2s;
	}
}

.section-divider{
	width: 80%;
	max-width: 500px;
	height: 40px;
	margin: 0 auto;
	background-image: url(../img/knot.png);
	background-repeat: repeat; 

}














